
.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Helvetica;
}

.add-icon:hover {
  transform: scale(1.4);
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  background-color: #4CC9F3;
  padding: 1rem;
}

.events {
  display: flex;
  flex-wrap: wrap;
}

.event {
  background-color: #4CC9F3;
  border-radius: 1rem;
  padding: 1rem;
  width: 45vw;
  margin: 1rem auto;
}

.event-name {
  font-size: 2rem;
  font-family: Helvetica;
  color: white;
  font-weight: bold;
}

.event-date {
  font-family: Helvetica;
  background-color: white;
  /* border-radius: 1rem; */
  padding: 0.5rem;
}

.event-money {
  font-family: Helvetica;
  background-color: white;
  /* border-radius: 1rem; */
  padding: 0.5rem;
}

.event-info {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}

.event-text {
  width: 30vw;
}

.event-text-title {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.2rem;
}

.event-text-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.event-top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid white 0.2rem;
  padding: 0.5rem;
}

.event-tags {
  display: flex;
  flex-direction: column;
}

.event-tag {
  margin-bottom: 0.5rem;
}

.event-date {
  width: 11vw;
  text-align: center;
}

.event-money {
  width: 6vw;
  text-align: center
}

.edit-icon {
  height: 1.4rem;
}

.edit-icon:hover {
  transform: scale(1.2);
}

.edit-event-text-text {
  resize: vertical;
  width: 30vw;
  height: 5rem;
}

.edit-event-name {
  width: 30vw;
  height: 3vw;
  font-size: 2rem;
}

.edit-event-money {
  width: 10vw;
  height: 2vw;
}

.edit-event {
  background: lightgray;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}
.addEvent {
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(190, 232, 253);
  border-radius: 1rem;
  width: 80vw;
}
.add-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}