
.title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: Helvetica;
}

.qoute {
  text-align: center;
  background-color: #1E1E1E;
  padding: 1rem;
  color: white;
  font-family: Helvetica;
  text-transform: uppercase;
}

.navigatie {
  background-color: #4CC9F3;
  padding: 1rem;
}

.event {
  background-color: #3DCA6A;
  border-radius: 1rem;
  padding: 1rem;
  width: 80vw;
  margin: 1rem auto;
}

.event-name {
  font-size: 2rem;
  font-family: Helvetica;
  color: white;
}

.event-date {
  font-family: Helvetica;

}

.event-money {
  font-family: Helvetica;
}